@tailwind base;
@tailwind components;
@tailwind utilities;


.heading-home{
font-family: Nunito;
width: 921px;

font-weight: 800px;
font-size: 64px;
text-align: center;
line-height: 87.3px;
padding: 86px;
}
.head2{
  font-family: Nunito;
  font-style:normal;
  width: 466px;
  
  font-size: 20px;
  font-weight: 400px;
  line-height: 150%;
  color:gray;
  text-align: center;
}

.start-project{
  padding: 12px 50px;
  color: white;
  width: 201px;
  background: #377DFF;
  box-shadow: 0px 4px 8px rgba(55, 125, 255, 0.5);
  border-radius: 24px;
}
.about-paragrah{
  padding: 35px;
  width: 533px;
}
.service-contanier{
  width: 1264px;
  margin-left: 300px;
}
.service-heading{
  font-family: 'Nunito';
}
.project-button{
  margin-left: 880px;
  margin-top: 40px;
}
.navbar-contanier{
  width: 1264px;
height: 548px;
left: 0px;
top: 5028px;

background: #383638;
}